$primary-color: rgb(87, 7, 7);
$secondary-color: rgb(77, 240, 77);
$font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$box-bg: aquamarine;
$box-bg-image: url('https://images.unsplash.com/photo-1566228015668-4c45dbc4e2f5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGJyaWdodCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60');
$reset-bg: rgb(87, 7, 7);
$reset-color: white;
$reset-font-size: 20px;
$reset-padding: 5px;
$reset-border-radius: 5px;
$winning-block: pink;
